@import "tailwindcss";

:root {
  --background-1: #ffffff;
  --background-2: #f9f6fa;
  --foreground-1: #171717;
  --accent-1: rgb(60, 7, 165);
  --accent-1-30: color-mix(in srgb, var(--accent-1) 30%, transparent);
  --accent-1-60: color-mix(in srgb, var(--accent-1) 60%, transparent);
  --accent-2: rgb(0, 86, 206);
}

[data-theme="dark"] {
  --background-1: #171717;
  --background-2: #19151c;
  --foreground-1: #ffffff;
  --accent-1: rgb(118, 49, 255);
  --accent-2: rgb(32, 51, 255);
}

body {
  color: var(--foreground-1);
  background: var(--background-1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header-dropdown{
  height: 0px;
  transition: height 0.5s;
}

.header-dropdown.expanded {
  height: auto;
}