.footer {
  background-color: var(--background-tertiary);
  color: var(--foreground-tertiary);
  padding-inline: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer_content_wrapper {
  max-width: 1000px;
  margin: auto;
}

.mailing_list_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email_input {
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  border: none;
}

.join_mailing {
  font-weight: bold;
  margin-bottom: 15px;
}

.mailing_form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 370px;
  margin-bottom: 20px;
}

@media (width < 700px) {
  .mailing_list_wrapper {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .mailing_form {
    flex-direction: column;
  }
}