.header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 10px;
  padding-block: 20px;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  background: var(--background-primary);
  background: -moz-linear-gradient(180deg, var(--background-primary) 0%, var(--background-primary) 95%, transparent 100%);
  background: -webkit-linear-gradient(180deg, var(--background-primary) 0%, var(--background-primary) 95%, transparent 100%);
  background: linear-gradient(180deg, var(--background-primary) 0%, var(--background-primary) 95%, transparent 100%);
  z-index: 2;
}

.header_title {
  font-size: 40px;
  font-weight: 600;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(223,223,223,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(223,223,223,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(223,223,223,1) 100%);
  background-clip: text;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
}

.header_menu {
  color: var(--foreground-primary);
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar_wrapper {
  overflow-y: hidden;
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: -100%;
  transition: margin-top 0.5s;
}

.navbar_expanded {
  margin-top: 0px;
  padding-top: 20px;
  height: fit-content;
}

.navbar_element {
  padding: 20px;
  border-radius: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.navbar_element:hover {
  background-color: var(--accent-secondary);
}

.navbar_long_wrapper {
  display: none;
  flex-direction: row;
  gap: 10px;
}

@media (width >= 900px) {
  .navbar_long_wrapper {
    display: flex;
  }

  .header_menu {
    display: none;
  }
}

.navbar_long {
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.navbar_long:hover {
  background-color: var(--accent-secondary);
}