.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_title_wrapper {
  max-width: 550px;
  text-align: center;
  margin-inline: 20px;
  display: flex;
  row-gap: 25px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
}

.page_title {
  font-size: 45px;
}

.page_secondary_title {
  font-size: 22px;
  margin-inline: 20px;
}

.section_bullet_wrapper {
  margin-bottom: 20px;
}

.section_bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 150%;
}

.bullet_check_wrapper {
  font-size: 20px;
  margin-right: 10px;
}

.bullet_check {
  color: var(--accent-primary);
}

.section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin-left: 20px;
  margin-block: 80px;
}

.section_reverse {
  direction: rtl;
}

.section_header {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

.section_body {
  font-size: 16px;
  margin-bottom: 20px;
}

.text_section {
  direction: ltr;
}

.section_image {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.primary_card_wrapper {
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  max-width: 700px;
  margin-inline: 50px;
  margin-bottom: 50px;
}

.primary_card {
  background-color: var(--background-secondary);
  padding: 35px 40px 25px;
  border: 1px solid color-mix(in srgb, var(--foreground-primary) 20%, transparent);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.primary_card_icon {
  color: var(--accent-primary);
  font-size: 25px;
  font-weight: bolder;
}

.primary_card_header {
  font-size: 18px;
  font-weight: 600;
}

.primary_card_body {
  font-size: 15px;
  line-height: 120%;
}

.accent_card {
  background-color: color-mix(in srgb, var(--accent-primary) 20%, transparent);
  border: 1px solid var(--accent-primary);
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-inline: 20px;
  margin-bottom: 40px;
}

.accent_card_text {
  margin-right: 40px;
}

.accent_card_header {
  margin-bottom: 20px;
}

.accent_card_bullet {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}